<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Boa vinda ao Universo de Versos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Os versos mais recentes estão abaixo
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let v of verses; let i = index">
        <ion-card [routerLink]="['/sobre/'+i]" class="v-card">
          <ion-card-header>
            <ion-card-subtitle>
              {{ verse.getDate(v.time) }}
            </ion-card-subtitle>
            <ion-card-title> {{ v.title }} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ v.verse }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
